@charset "utf-8";

/**
 * HTML5 Boilerplate v5.0 |
 * Block comment
 * MIT License
 * AUTHOR Zet-Web
 */
/*===>! HTML5 Boilerplate v5.0 | MIT License |
/* AUTHOR Zet-Web */
// IMPORTS
@import "compass";
@import "partials/_variables";
@import "partials/_mixins";
@import "partials/grid";
//@import "partials/css3-mixins";
//@import "animate/animate";
//@import "hover/hover";
$base-default-size: 16px;


html {
  font-family: $browser-context;
}

//@include font-face(AvenirNextCyrRegular, ../fonts/AvenirNextCyr-Regular);
@include font-face("AvenirNextCyr Regular", ./fonts/AvenirNextCyr-Regular/AvenirNextCyr-Regular, normal, normal);
$break-small: 320px;
$break-tablet: 768px;
$break-medium: 1024px;
$break-large: 1366px;
$break-extra-large: 1920px;


.container {
   width:1024px;
   margin: 0 auto;
}
* {
   @include box-sizing(border-box);

   &:before {
      @include box-sizing(border-box);
   }

   &:after {
      @include box-sizing(border-box);
   }
}

.title{
   @include char_text(30px, 36px, #000000);
   margin: 35px 0;
   text-align: center;
}
.text-center {
   text-align: center;
}


/*
*
* CAROUSEL 3-D START
*
*/
$carousel-ratio: 2.5;
$child-ratio: 1.2;
$perspective: 3000px;
$transition: 1s;

//@import 'partials/jquery.carousel-3d';

//background

[data-carousel-3d] {
   background: linear-gradient(0deg, rgb(200, 200, 200), rgb(255, 255, 255), rgb(200, 200, 200));
   background: -ms-linear-gradient(0deg, rgb(200, 200, 200), rgb(255, 255, 255), rgb(200, 200, 200));
   background: -moz-linear-gradient(0deg, rgb(200, 200, 200), rgb(255, 255, 255), rgb(200, 200, 200));
   background: -webkit-linear-gradient(0deg, rgb(200, 200, 200), rgb(255, 255, 255), rgb(200, 200, 200));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
   -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
}

//border
[data-carousel-3d] {
   border: 3px solid #e0e0e0;
}

//next/prev
[data-carousel-3d] {
   [data-prev-button] {
      &:before {
         content: url("./images/prev.png");
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         width: 43px;
         height: 49px;
         margin: auto;
      }
   }
   [data-next-button] {
      &:before {
         content: url("./images/next.png");
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         width: 43px;
         height: 49px;
         margin: auto;
      }
   }
}

[data-child-frame] {
   border: 5px solid #ffffff;
}

/*КАРУСЕЛЬ-3D*/

#content {
   height: 100%;
   float: left;
}

.sidebar-right {
   width: 18%;
   float: right;

}

.menu {
   .logo {
      margin-top: 40px;

      > a > img {
      }
   }

   .contacts {
      bottom: 0;
      position: absolute;
      width: 215px;
      padding-left: 22px;

      > hr {
         background-color: $color_coral_red_approx;
         height: 2px;
         border: 0;
      }

      .number {
         color: $color_mine_shaft_approx;
         font-size: 20px;
         line-height: 36px;
         text-transform: uppercase;
         font-family: $font_15;
      }

      .place {
      }

      .city {
         color: $black;
         font-size: 18px;
         line-height: 18px;
         margin-top: 15px;
         margin-bottom: 5px;
      }

      .adress {
         color: $color_silver_approx;
         font-size: 15px;
         line-height: 22px;
         margin-top: 0;
      }

      .social-acc {
      }

      .soc {
         margin-right: 5px;
         display: inline-block;
      }

      .soc-1 {
      }

      .soc-2 {
      }

      .soc-3 {
      }
   }

   .main-nav ul {
      padding-left: 0;
      list-style-type: none;

      li a {
         color: $black;
         font-size: 25px;
         font-weight: 300;
         line-height: 38px;
         font-family: $font_13, $font_14;
         text-decoration: none;
         -webkit-transition: all .25s ease;
         -moz-transition: all .25s ease;
         -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
         //Insteadofthelinebelow youcoulduse
         //@includetransition($transition-1,$transition-2,$transition-3,$transition-4,$transition-5,$transition-6,$transition-7,$transition-8,$transition-9,$transition-10)transition: all .25s ease;

         &:hover {
            color: $color_coral_red_approx;
         }
      }
   }
}

.digital {
   padding-top: 1px;
   background-repeat: no-repeat;
   background-size: cover;
   width: 82%;
   .img-resp {
      height: auto;
      width: 100%;
   }
   .vcenter {
      display: inline-block;
      width: 100%;
      height: 240px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      z-index: 9999;
      //Insteadofthelinebelowyoucoulduse@includetransform($scale,$rotate,$transx,$transy,$skewx,$skewy,$originx,$originy)transform: translateY(-50%);
   }

   .label-h {
      color: $color_mine_shaft_approx;
      font-size: 32px;
      font-weight: 100;
      line-height: 41px;
      text-transform: uppercase;
      text-align: center;
      margin: 16px 0;
      letter-spacing: 15.7px;
      font-family: $font_11, $font_12;
   }

   .company-name {
      color: $color_mine_shaft_approx;
      font-size: 84px;
      font-weight: 300;
      line-height: 78px;
      text-transform: uppercase;
      text-align: center;
      margin: 20px 0;
      letter-spacing: 7px;
   }

   .watch-works {
      width: 263px;
      height: 54px;
      border: 1px solid $color_coral_red_approx;
      //Insteadofthelinebelowyoucoulduse@includeborder-radius($radius,$vertical-radius)border-radius: 3px;
      margin: auto;
      z-index: 9999;

      a {
         height: 100%;
         color: $color_coral_red_approx;
         font-size: 18px;
         font-weight: 400;
         text-decoration: none;
         text-align: center;
         display: block;
         width: 100%;
         line-height: 50px;
         -webkit-transition: all 0.3s ease;
         -moz-transition: all 0.3s ease;
         -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
         //Insteadofthelinebelowyoucoulduse@includetransition($transition-1,$transition-2,$transition-3,$transition-4,$transition-5,$transition-6,$transition-7,$transition-8,$transition-9,$transition-10)transition: all 0.3s ease;

         &:hover {
            color: $white;
            background-color: $color_coral_red_approx;
         }
      }
   }

   .window {
      width: 100%;
      height: 100%;
      min-height: 100%;
      padding-top: 1px;
      position: relative;
      //      position:absolute;
      .row {
         height: 33%;
         position: relative;
         overflow: hidden;

      }
      //      #row-1{
      //         background: url("../images/Layer 14.jpg");}
      //      #row-2{}
      //      #row-3{}
      &:after {
         @include opacity(0.4);
         background: url("") #FFF no-repeat;
         content: '';
         display: block;
         position: absolute;
         height: 100%;
         width: 100%;
         left: 0;
         top: 0;
         @include transition(all 0.5s ease);
         cursor: pointer;
      }
      &:hover:after {
         @include opacity(0);
      }
      .watch-works {
         bottom: 100px;
         left: 100px;
         position: absolute;
      }
   }
   .shortcut-case {

   }
   /*window*/

   #page-1 {
      background: rgba(0, 0, 0, 0) url("../images/rocks.jpg") repeat scroll 0 0;
      background-size: cover;
      .watch-works {
         position: static;
      }
   }

   #page-3 {
      background: rgba(0, 0, 0, 0) url("../images/Layer 10.jpg") no-repeat scroll 0 0;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
   }
   #page-4 {
      background: rgba(0, 0, 0, 0) url("../images/Layer 13.png") repeat scroll 0 0;
      background-size: cover;
   }
   #page-5 {
      background: rgba(0, 0, 0, 0) url("../images/Layer 7.jpg") repeat scroll 0 0;
      background-size: cover;
   }
   #page-2.window:after {
      display: none;
   }

   .row {
      &:after {
         @include opacity(0.4);
         background: url("") #FFF no-repeat;
         content: '';
         display: block;
         position: absolute;
         height: 100%;
         width: 100%;
         left: 0;
         top: 0;
         @include transition(all 0.5s ease);
         //      @include pseudo-content("", url(""), rhgt plava_9)
         cursor: pointer;
      }
      &:hover:after {
         @include opacity(0);
      }
   }

}

//} digital
.caption {
   //   @include  char_text(72px, 90px, #ooo); height: auto;

   color: black;
   font-size: 48px;
   font-weight: 300;
   line-height: 50px;
   margin: 0;
   font-family: "AvenirNextCyr-Demi", "sans-serif";
}

#content .window .caption {
   bottom: 200px;
   left: 100px;
   position: absolute;
   width: 70%;
}

.dropdown {
   height: 100%;
   width: 250px;
   padding-top: 20px;

   li {
      padding: 0 10px;
      &.selected {
      }

      &.multi {
         > a {
            position: relative;

            &:after {
               width: 11px;
               content: "";
               height: 6px;
               background: $url_46;
               background-repeat: no-repeat;
               -webkit-background-size: cover;
               background-size: cover;
               position: absolute;
               top: 28px;
               left: 110px;
            }
         }

         &.selected > a {
            color: $color_coral_red_approx;
         }
      }

      a {
         display: block;
         width: 100%;
         padding: 10px;
      }

      > ul li {
         padding: 0 20px;

         > ul li {
            padding: 10px 30px;
         }
      }
   }

   ul li ul li a {
      color: $color_mountain_mist_approx;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
   }
}

.main-nav .dropdown li ul li a {
   color: $color_mountain_mist_approx;
   font-size: 16px;
   font-weight: 500;
   line-height: 18px;
}

#cases {
   .case {
      background-repeat: no-repeat;
      @include transition(all 0.4s ease);

      .caption {
      }

      .default {
      }

      a {
         &:hover {
         }
      }
      &:hover {
         opacity: 1;
      }
      &:nth-of-type(2n+2) {
         background-position: left center;
      }
   }
}

#cases {
   content: "";
   height: 100%;
   width: 100%;

   .case {
      @include opacity(0.7);
      content: "";
      background-color: #cbccd4;
      content: "";
      width: 100%;
      position: relative;
      height: 100%;

      &.case-1 {
         content: "";
         background-image: url("../images/Layer 4.png");
         background-repeat: no-repeat;
         background-position: right center;
      }

      .caption {
         content: "";
         color: black;
         font-family: AvenirNextCyr;
         font-size: 48px;
         font-weight: 300;
         line-height: 48px;
         width: 530px;
         position: absolute;
         left: 70px;
         top: 34%;
      }

      .default {
         content: "";
         position: absolute;
         left: 70px;
         top: 55%;
      }

      a {
         content: "";

         &:hover {
            content: "";
         }
      }
   }

   .case-2 {
      background-image: url("../images/Layer 4.png");

   }
   .case-3 {
      background-image: url("../images/Layer 4.png");
   }

}

.map-inner {
   width: 100%;
   height: 100%;
}

#myMap {
   width: 100%;
   height: 100%;
}

.about-tile {
   background: #ff4440;

   h3 {
      // @include fchar_text(144px, 100px, #FFFFFF, $semi);
      color: white;
      font-family: AvenirNextCyr;
      font-size: 144px;
      font-weight: 300;
      line-height: 36px;

      p {
      }

      div.label {
      }
   }
}

.clients-row {
   height: 100%;
   min-height: 100%;
   .grid {
      height: 100%;
      @include vertical-align;
      .grid__item {
         height: 50%;
         padding-left: 0;
         border: 1px solid #e3e3e3;
         overflow: hidden;
         .grid-content {
            height: 100%;
            .back {
               background: red;
               height: 100%;
               width: 100%;
               display: none;
               h4 {
                  @include char_text(24px, 30px, #999);
               }
            }
            .front {
               height: 100%;
               width: 100%;
            }

         }
         .back {
            @include char_text(20px, 26px, #000);
         }

         .bg-image-1 {
            //            background: url("../images/layer-11.png") no-repeat center cover;
            background: transparent url('../images/layer-11.png') 0 0 no-repeat;
            background-size: cover;
         }
         .bg-image-2 {
            //            background: url("../images/layer-12.png") no-repeat center cover;
            background: transparent url('../images/layer-12.png') 0 0 no-repeat;
            background-size: cover;
         }
         .img-group {
            cursor: pointer;
            &:hover {
               transform: scale(1.2);
            }
            @include transition(all 0.4s ease);
         }

      }
      .service-ul {
         .sub-title {
            @include char_text(30px, 34px, #333333);
            font-family: "AvenirNextCyr-Demi", "sans-serif";
            padding-left: 25%;
            text-align: left;
         }
         ul {
            padding-left: 25%;
            > li {
               display: block;
               list-style-type: circle;
               color: red;
               @include char_text(18px, 30px, #333333);
               text-align: left;
               padding-left: 12px;
               position: relative;
               a {
                  @include char_text(18px, 30px, #333333);
                  text-decoration: none;
                  @include transition(all 0.5s ease);
                  &:hover {
                     color: #ff4440;
                  }
               }
               &:after {
                  position: absolute;
                  content: "";
                  width: 6px;
                  height: 6px;
                  background-color: #ff4440;
                  display: inline-block;
                  left: 0;
                  top: 15px;
                  border-radius: 50%;
               }
            }
         }
         .valign {
            @include vertical-align;
         }
      }
   }
   .header-container {
      background-color: #ff4e3c;

      h1 {
         color: white;
         //         font-family: AvenirNextCyr;
         font-size: 48px;
         font-weight: 300;
         line-height: 60px;
         text-align: center;
         margin: 0;
      }
   }
}

/*
* FLIP
* CARD
*/
.valign {
   @include vertical-align;
}

.flip-container {
   margin: 0 auto;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
}

.flip-container:hover .flipper {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
}

.flipper {
   -webkit-transition: 0.6s;
   -webkit-transform-style: preserve-3d;
   -moz-transition: 0.6s;
   -moz-transform-style: preserve-3d;
   position: relative;
}

.front, .back {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;

}

.front {
   z-index: 1;
}

.flip-container, .front, .back {

}

.back {
   -webkit-transform: rotateY(-180deg);
   -moz-transform: rotateY(-180deg);
}

#content {
   .row {
      .title {
         color: black;
         font-size: 72px;
         font-weight: 300;
         line-height: 90px;
         left: 5%;
         position: absolute;
         top: 50%;
         z-index: 666;
         margin-top: -40px;
      }
   }
   #page-3 {
      .caption {
         bottom: 200px;
         left: 100px;
         position: absolute;
         width: 70%;
      }
   }


}

/*#content*/

.digital.complex {
   .label-h {
      @include char_text(4em, 80px, #000);
      letter-spacing: 0;

      font-weight: 700;
      text-transform: none;

   }
   .company-description {
      @include char_text(30px, 36px, #8a8a8a);
      text-align: center;
      padding: 0 25%;
      font-family: $font_3, sans-serif;
   }
   #complex-bg {
      background: transparent url("../images/bg_complex.jpg") repeat scroll 0 0 / cover;
   }

   .text-box {
      .text-box-title {
         text-align: center;
         @include char_text(48px, 54px, #000000);
         font-family: "AvenirNextCyr-Demi", "sans-serif";
         margin: 60px auto;
         padding: 0 200px;
      }
      .text-box-descr {
         @include char_text(30px, 38px, #8a8a8a);
         text-align: center;
         padding: 0 6%;
         font-family: $font_3, sans-serif;
         padding-bottom: 60px;

      }
      &.white {
         background-color: #ffffff;
      }
      &.gray {
         background-color: #f8f8f8;
      }
      &.alpha-gray {
         background-color: #ffffff;
      }
   }
   .text-box {
      padding-top: 1px;
   }

   .watch-works {
      margin: 50px auto;
      position: static;
   }
}

.flip-container:hover .flipper .back {

}

.components {
   background: #ffd257;
   padding-top: 1px;
   #title {
      font-size: 30px;
      margin-bottom: 30px;
   }
   .sub-title {
      margin: 35px 0;
      text-align: center;
      letter-spacing: -1.04px;
      @include char_text(30px, 36px, #000000);
   }
   .sub-title {
      font-size: 27px;
      margin-bottom: 0;
   }
   .row, .row-2 {
      @include clearfix;
   }
   .row {
      width: 960px;
   }
   .row-2 {
      width: 800px;
      clear: both;
      margin: auto;
      .item {
         width: 50%;
         float: left;
         text-align: center;
         .icon {
            background: #ffffff;
            border-radius: 50%;
            height: 160px;
            display: table-cell;
            left: 120px;
            position: relative;
            vertical-align: middle;
            width: 160px;
         }

      }
   }

   .row.grid-5 {
      width: 960px;
      margin: 0 auto;
      .item {
         //         @include size(160px);
         width: 300px;
         //         @include border-radius(50%);
         margin-right: 30px;
         p {
            color: #333;
            font-size: 17px;
            font-weight: 400;
            margin-top: 0;
         }
         .icon {
            content: "";
            display: table-cell;
            height: 160px;
            text-align: center;
            vertical-align: middle;
            width: 160px;
            background: #FFFFFF;
            border-radius: 50%;
            left: 65px;
            margin: 0 auto;
            margin-left: 50px;
            position: relative;
         }
         content: "";
         display: inline-block;
         float: left;
         text-align: center;
         margin-bottom: 40px;
      }
      .item-3 {
         content: "";
         &:nth-of-type(3) {
            margin-right: 0;
         }
      }
      .item-2 {
         content: "";
         &:nth-of-type(2) {
            margin-right: 0;
         }
      }
   }
   .divider-center {
      background: url("../images/center-complex.jpg") no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 150px;
   }
}

/* .COMPONENTS */

/*
*
* TARGETING SECTION
*
*/
.targeting {
   min-height: 450px;
   background: rgba(0, 0, 0, 0) url("../images/target-bg.jpg") repeat scroll 0 0;
   padding-top: 1px;

   .sub-title {
      color: black;
      font-size: 30px;
      font-weight: 500;
      margin: 35px 0;
      text-align: center;
   }

   .divider-center{
      background: url("../images/site-divider.jpg") no-repeat;
      width: 100%;
      height: 90px;
   }
} /* TARGETTING*/

.site-video {
   background: rgba(0, 0, 0, 0) url("../images/blue-bg.jpg") repeat scroll 0 0;
   padding-top: 1px;
   padding-bottom: 60px;
}
.garanties {
   background-color: #f8f8f8;
   padding-top: 1px;
   .title-1 {
      color: black;
      font-size: 48px;
      font-weight: 300;
      margin: 40px 0;
      margin-bottom: 20px;
      text-align: center;
   }

   .description {
      color: #8a8a8a;
      font-size: 30px;
      font-weight: 400;
      width: 722px;
      margin: 0 auto 30px;
      text-align: center;
   }

   .item {
      padding: 25px;
   }

   .buyers {
      padding-top: 1px;
      background: #FFF;
      .title {
         color: black;

         font-size: 30px;
         font-weight: 500;
      }

      .sub-title {
         color: black;

         font-size: 30px;
         font-weight: 500;
         text-align: center;
      }
      .descr {
         color: #8a8a8a;
         font-size: 30px;
         font-weight: 400;
         margin-top: 0;
     
      }
   }

} /*GARANTIES*/


#content {
   .row.sources {
      .item {
         width: 25%;
         height: 528px;
         background-color: white;
         padding: 39px 18px 28px 39px ;
         float: left;
         margin: 0 45px;
         p {
            color: #999;
            font-size: 18px;
            font-weight: 400;
            margin-top: 0;
         }

      }
      .grid__item .title {
         color: black;
         font-size: 30px;
         font-weight: 500;
      }

      .title {
         color: #000000;
         font-size: 30px;
         font-weight: 300;
         line-height: 40px;
         margin-top: 0px;
         position: static;
         margin-bottom: 10px;
      }
   }
}