/*
<i class="icon icon-client_1"></i>
<i class="icon icon-client_2"></i>
<i class="icon icon-client_3"></i>
<i class="icon icon-client_4"></i>
<i class="icon icon-client_5"></i>
<i class="icon icon-client_6"></i>
<i class="icon icon-client_7"></i>
<i class="icon icon-client_9"></i>
<i class="icon icon-client_active_1"></i>
<i class="icon icon-client_active_2"></i>
<i class="icon icon-client_active_3"></i>
<i class="icon icon-client_active_4"></i>
<i class="icon icon-client_active_5"></i>
<i class="icon icon-client_active_6"></i>
<i class="icon icon-client_active_7"></i>
<i class="icon icon-client_active_8"></i>
<i class="icon icon-icon-mail"></i>
<i class="icon icon-icon-pins"></i>
<i class="icon icon-icon-tel"></i>
<i class="icon icon-icon_1"></i>
<i class="icon icon-icon_2"></i>
<i class="icon icon-icon_3"></i>
<i class="icon icon-icon_4"></i>
<i class="icon icon-icon_5"></i>
<i class="icon icon-icon_6"></i>
<i class="icon icon-icon_7"></i>
<i class="icon icon-icon_8"></i>
<i class="icon icon-icon_9"></i>
<i class="icon icon-left-arr"></i>
<i class="icon icon-logos"></i>
<i class="icon icon-logos_hover"></i>
<i class="icon icon-right-arr"></i>
<i class="icon icon-terminal_1"></i>
<i class="icon icon-terminal_2"></i>
<i class="icon icon-terminal_3"></i> */



.icon {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-client_1 {
    width: 130px;
    height: 75px;
    background-position: -5px -5px;
}

.icon-client_2 {
    width: 75px;
    height: 75px;
    background-position: -145px -5px;
}

.icon-client_3 {
    width: 91px;
    height: 75px;
    background-position: -230px -5px;
}

.icon-client_4 {
    width: 183px;
    height: 75px;
    background-position: -331px -5px;
}

.icon-client_5 {
    width: 156px;
    height: 75px;
    background-position: -524px -5px;
}

.icon-client_6 {
    width: 75px;
    height: 75px;
    background-position: -690px -5px;
}

.icon-client_7 {
    width: 109px;
    height: 75px;
    background-position: -775px -5px;
}

.icon-client_9 {
    width: 118px;
    height: 75px;
    background-position: -5px -90px;
}

.icon-client_active_1 {
    width: 130px;
    height: 75px;
    background-position: -133px -90px;
}

.icon-client_active_2 {
    width: 75px;
    height: 75px;
    background-position: -894px -5px;
}

.icon-client_active_3 {
    width: 91px;
    height: 75px;
    background-position: -273px -90px;
}

.icon-client_active_4 {
    width: 183px;
    height: 75px;
    background-position: -374px -90px;
}

.icon-client_active_5 {
    width: 156px;
    height: 75px;
    background-position: -567px -90px;
}

.icon-client_active_6 {
    width: 75px;
    height: 75px;
    background-position: -733px -90px;
}

.icon-client_active_7 {
    width: 109px;
    height: 75px;
    background-position: -818px -90px;
}

.icon-client_active_8 {
    width: 118px;
    height: 75px;
    background-position: -5px -175px;
}

.icon-icon-mail {
    width: 51px;
    height: 40px;
    background-position: -937px -90px;
}

.icon-icon-pins {
    width: 51px;
    height: 64px;
    background-position: -937px -140px;
}

.icon-icon-tel {
    width: 30px;
    height: 45px;
    background-position: -133px -214px;
}

.icon-icon_1 {
    width: 57px;
    height: 49px;
    background-position: -173px -214px;
}

.icon-icon_2 {
    width: 54px;
    height: 54px;
    background-position: -240px -214px;
}

.icon-icon_3 {
    width: 52px;
    height: 52px;
    background-position: -304px -214px;
}

.icon-icon_4 {
    width: 41px;
    height: 54px;
    background-position: -366px -214px;
}

.icon-icon_5 {
    width: 42px;
    height: 55px;
    background-position: -417px -214px;
}

.icon-icon_6 {
    width: 33px;
    height: 52px;
    background-position: -469px -214px;
}

.icon-icon_7 {
    width: 58px;
    height: 63px;
    background-position: -512px -214px;
}

.icon-icon_8 {
    width: 60px;
    height: 55px;
    background-position: -580px -214px;
}

.icon-icon_9 {
    width: 58px;
    height: 54px;
    background-position: -650px -214px;
}

.icon-left-arr {
    width: 37px;
    height: 111px;
    background-position: -718px -214px;
}

.icon-logos {
    width: 999px;
    height: 75px;
    background-position: -5px -335px;
}

.icon-logos_hover {
    width: 999px;
    height: 75px;
    background-position: -5px -420px;
}

.icon-right-arr {
    width: 37px;
    height: 111px;
    background-position: -765px -214px;
}

.icon-terminal_1 {
    width: 122px;
    height: 330px;
    background-position: -1014px -5px;
}

.icon-terminal_2 {
    width: 254px;
    height: 353px;
    background-position: -5px -505px;
}

.icon-terminal_3 {
    width: 159px;
    height: 338px;
    background-position: -269px -505px;
}
