
//@include font-face(AvenirNextCyr-Bold, fonts/Samplino);

/**
 *
 * VARIABLES
 *
 */

//colors
$gray: gray;
$white: #fff;
$color_mine_shaft_approx: #333;
$color_coral_red_approx: #ff4440;
$black: black;
$color_silver_approx: #bebebe;
$color_mountain_mist_approx: #999;

//fonts
$font_0: "AvenirNextCyr-Bold";
$font_1: "AvenirNextCyr-BoldItalic";
$font_2: "AvenirNextCyr-Demi";
$font_3: "AvenirNextCyr-Regular";
$font_4: "AvenirNextCyr-UltraLightIt";
$font_5: "AvenirNextCyr-Light";
$font_6: "AvenirNextCyr-Italic";
$font_7: "AvenirNextCyr-Medium";
$font_8: "AvenirNextCyr-Thin";
$font_9: "AvenirNextCyr-Medium";
$font_10: "sans-serif";
$font_11: "AvenirNextCyr-Thin";
$font_12: "sans-serif";
$font_13: "AvenirNextCyr-Demi";
$font_14: "sans-serif";
$font_15: "AvenirNextCyr-Bold";

//urls
$url_0: url("../fonts/AvenirNextCyr-Bold.eot");
$url_1: url("../fonts/AvenirNextCyr-Bold.eot?#iefix");
$url_2: url("../fonts/AvenirNextCyr-Bold.woff");
$url_3: url("../fonts/AvenirNextCyr-Bold.ttf");
$url_4: url("../fonts/AvenirNextCyr-Bold.svg");
$url_5: url("../fonts/AvenirNextCyr-BoldItalic.eot");
$url_6: url("../fonts/AvenirNextCyr-BoldItalic.eot?#iefix");
$url_7: url("../fonts/AvenirNextCyr-BoldItalic.woff");
$url_8: url("../fonts/AvenirNextCyr-BoldItalic.ttf");
$url_9: url("../fonts/AvenirNextCyr-BoldItalic.svg");
$url_10: url("../fonts/AvenirNextCyr-Demi.eot");
$url_11: url("../fonts/AvenirNextCyr-Demi.eot?#iefix");
$url_12: url("../fonts/AvenirNextCyr-Demi.woff");
$url_13: url("../fonts/AvenirNextCyr-Demi.ttf");
$url_14: url("../fonts/AvenirNextCyr-Demi.svg");
$url_15: url("../fonts/AvenirNextCyr-Regular.eot");
$url_16: url("../fonts/AvenirNextCyr-Regular.eot?#iefix");
$url_17: url("../fonts/AvenirNextCyr-Regular.woff");
$url_18: url("../fonts/AvenirNextCyr-Regular.ttf");
$url_19: url("../fonts/AvenirNextCyr-Regular.svg");
$url_20: url("../fonts/AvenirNextCyr-UltraLightIt.eot");
$url_21: url("../fonts/AvenirNextCyr-UltraLightIt.eot?#iefix");
$url_22: url("../fonts/AvenirNextCyr-UltraLightIt.woff");
$url_23: url("../fonts/AvenirNextCyr-UltraLightIt.ttf");
$url_24: url("../fonts/AvenirNextCyr-UltraLightIt.svg");
$url_25: url("../fonts/AvenirNextCyr-Light.eot");
$url_26: url("../fonts/AvenirNextCyr-Light.eot?#iefix");
$url_27: url("../fonts/AvenirNextCyr-Light.woff");
$url_28: url("../fonts/AvenirNextCyr-Light.ttf");
$url_29: url("../fonts/AvenirNextCyr-Light.svg");
$url_30: url("../fonts/AvenirNextCyr-Italic.otf");
$url_31: url("../fonts/AvenirNextCyr-Medium.eot?#iefix");
$url_32: url("../fonts/AvenirNextCyr-Medium.woff");
$url_33: url("../fonts/AvenirNextCyr-Medium.ttf");
$url_34: url("../fonts/AvenirNextCyr-Medium.svg");
$url_35: url("../fonts/medium/avenir-medium.otf");
$url_36: url("../fonts/medium/avenir-medium.eot?#iefix");
$url_37: url("../fonts/medium/avenir-medium.woff");
$url_38: url("../fonts/medium/avenir-medium.ttf");
$url_39: url("../fonts/medium/avenir-medium.svg");
$url_40: url("../fonts/AvenirNextCyr-Thin.eot");
$url_41: url("../fonts/AvenirNextCyr-Thin.eot?#iefix");
$url_42: url("../fonts/AvenirNextCyr-Thin.woff");
$url_43: url("../fonts/AvenirNextCyr-Thin.ttf");
$url_44: url("../fonts/AvenirNextCyr-Thin.svg");
$url_45: url("../images/slide-1.jpg");
$url_46: url("../images/slide-2.jpg");

