!!!
/[if lt IE 7]
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
/[if IE 7]
  <html class="no-js lt-ie9 lt-ie8" lang="">
/[if IE 8]
  <html class="no-js lt-ie9" lang="">
/[if gt IE 8] ><!
%html.no-js{:lang => ""}
  / <![endif]
  %head
    / html comment
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          / <meta content="width=1200" name="viewport"/>
          %title Factory
          %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}
            %meta{:content => "", :name => "description"}
              %meta{:content => "", :name => "author"}
                / Mobile Specific Metas
                /
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                / FONT
                %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}
                  / CSS
                  %link{:href => "css/normalize.css", :rel => "stylesheet"}
                    / <link rel="stylesheet" href="css/skeleton.css">
                  %link{:href => "css/stylesheet.css", :rel => "stylesheet"}
                  %link{:href => "css/default.css", :rel => "stylesheet"}
                  %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
                  %script{:src => "js/modernizr-2.8.3-respond-1.4.2.min.js"}
                  %script{:src => "js/jquery-1.11.2.min.js"}
                  %script{:src => "js/jquery.fadethis.min.js"}
                  %script{:src => "js/tendina.js"}
                  %script{:src => "js/jquery.lettering-0.6.1.min.js"}
                  %script{:src => "js/jquery.superscrollorama.js"}
                  %script{:src => "js/bootstrap.js"}
                  -# %script(src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js", integrity="sha384-XXXXXXXX" ,crossorigin="anonymous")
                  %script{:src => "js/js.js"}
                  / Favicon
                  %link{:href => "images/favicon.png", :rel => "icon", :type => "image/png"}