!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="">
/[if IE 8] <html class="no-js lt-ie9" lang="">
/ [if gt IE 8]><!
%html.no-js{:lang => ""}
  / <![endif]
  %head
    = Haml::Engine.new(File.read('./partials/head-custom.haml')).render

  %body
    = Haml::Engine.new(File.read('./partials/header.haml')).render
    /[if lt IE 8]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    #content
      .container
        .row
          .col-md-12
            .main-baner
              %a(href="#" )
                %img.img-responsive(src="images/baner-main.jpg" )
        .row.news-box.clearfix
          .col-md-12
            .head-box
              .main_h Новости MAXIMUM
            .left_c
              .single-view
                %a(href="#" )
                  %img(src="images/baner-2.png" )
                %a(href="#" )
                  .title-new High society Шоу на кухне!
                  .date-new 27 июля 2015
              .half-view
                .col-md-6.baner-box
                  %a(href="#" )
                    %img(src="images/new-1.png" )
                  %a(href="#" )
                    .title-new
                      Фестиваль STRANGEL AIR в Москве
                    .date-new 27 июля 2015
                .col-md-6.baner-box
                  %a(href="#" )
                    %img(src="images/new-2.png" )
                  %a(href="#" )
                    .title-new
                      Выигрывайте пиццу в
                      рубрике “Чужой против
                      Хищника”!
                    .date-new 27 июля 2015

                .col-md-6.baner-box
                  %a(href="#" )
                    %img(src="images/new-3.png" )
                  %a(href="#" )
                    .title-new
                      Фестиваль STRANGEL AIR в Москве
                    .date-new 27 июля 2015
                .col-md-6.baner-box
                  %a(href="#" )
                    %img(src="images/new-4.png" )
                  %a(href="#" )
                    .title-new
                      Выигрывайте пиццу в
                      рубрике “Чужой против
                      Хищника”!
                    .date-new 27 июля 2015
                .col-md-6.baner-box
                  %a(href="#" )
                    %img(src="images/new-5.png" )
                  %a(href="#" )
                    .title-new
                      Фестиваль STRANGEL AIR в Москве
                    .date-new 27 июля 2015
                .col-md-6.baner-box
                  %a(href="#" )
                    %img(src="images/new-5.png" )
                  %a(href="#" )
                    .title-new
                      Выигрывайте пиццу в
                      рубрике “Чужой против
                      Хищника”!
                    .date-new 27 июля 2015
              .show-more-news
                %a.button(href="#" ) больше новостей
            .right_c
              .top-block-baner
                %img(src="images/right-baner.jpg" )
              .afisha-box
                .title Афиша мероприятий
                .row-single.clearfix
                  %a(href="#" )
                    %img(src="images/afisha-1.jpg" )
                  .text-info
                    %a(href="#" )
                      .title 3 Doors Down Крокус Сити Холл
                      .date 27 июля 2015
                .row-single.clearfix
                  %a(href="#" )
                    %img(src="images/afisha-1.jpg" )
                  .text-info
                    %a(href="#" )
                      .title 3 Doors Down Крокус Сити Холл
                      .date 27 июля 2015
                .row-single.clearfix
                  %a(href="#" )
                    %img(src="images/afisha-1.jpg" )
                  .text-info
                    %a(href="#" )
                      .title 3 Doors Down Крокус Сити Холл
                      .date 27 июля 2015
                .row-single.clearfix
                  %a(href="#" )
                    %img(src="images/afisha-1.jpg" )
                  .text-info
                    %a(href="#" )
                      .title 3 Doors Down Крокус Сити Холл
                      .date 27 июля 2015
                .row-single.clearfix
                  %a(href="#" )
                    %img(src="images/afisha-1.jpg" )
                  .text-info
                    %a(href="#" )
                      .title 3 Doors Down Крокус Сити Холл
                      .date 27 июля 2015
                .row-single.clearfix
                  %a(href="#" )
                    %img(src="images/afisha-1.jpg" )
                  .text-info
                    %a(href="#" )
                      .title 3 Doors Down Крокус Сити Холл
                      .date 27 июля 2015
                .row-single.clearfix
                  %a(href="#" )
                    %img(src="images/afisha-1.jpg" )
                  .text-info
                    %a(href="#" )
                      .title 3 Doors Down Крокус Сити Холл
                      .date 27 июля 2015
                .row-single.clearfix
                  %a(href="#" )
                    %img(src="images/afisha-1.jpg" )
                  .text-info
                    %a(href="#" )
                      .title 3 Doors Down Крокус Сити Холл
                      .date 27 июля 2015
                %a.all-afish(href="#" ) Все афиши
        .row.music-newest
          .col-md-12
            .head-box
              .main_h музыкальные новинки
            .newest-items
              .item-view
                %a(href="#" )
                  %img(src="images/newest_1.png" )
                  .name-art Stressed Out
                  .name-song Twenty One Pilots
              .item-view
                %a(href="#" )
                  %img(src="images/newest_2.png" )
                  .name-art Stressed Out
                  .name-song Twenty One Pilots
              .item-view
                %a(href="#" )
                  %img(src="images/newest_3.png" )
                  .name-art Stressed Out
                  .name-song Twenty One Pilots
              .item-view
                %a(href="#" )
                  %img(src="images/newest_4.png" )
                  .name-art Stressed Out
                  .name-song Twenty One Pilots
              .item-view
                %a(href="#" )
                  %img(src="images/newest_1.png" )
                  .name-art Stressed Out
                  .name-song Twenty One Pilots
              .item-view
                %a(href="#" )
                  %img(src="images/newest_2.png" )
                  .name-art Stressed Out
                  .name-song Twenty One Pilots
              .item-view
                %a(href="#" )
                  %img(src="images/newest_3.png" )
                  .name-art Stressed Out
                  .name-song Twenty One Pilots
              .item-view
                %a(href="#" )
                  %img(src="images/newest_4.png" )
                  .name-art Stressed Out
                  .name-song Twenty One Pilots
        .row.maximum-tv
          .col-md-12
            .head-box
              .main_h maximum тв
            .video-box
              #video-player
                %video#example_video_1.video-js.vjs-default-skin.vjs-big-play-centered{:controls => "", "data-setup" => "{\"example_option\":true}", :height => "45 6", :poster => "images/poster.png", :preload => "auto", :width => "708"}
                  %source{:src => "http://video-js.zencoder.com/oceans-clip.mp4", :type => "video/mp4"}
                  %source{:src => "http://video-js.zencoder.com/oceans-clip.webm", :type => "video/webm"}
                  %source{:src => "http://video-js.zencoder.com/oceans-clip.ogv", :type => "video/ogg"}
                  %p.vjs-no-js
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    %a{:href => "http://videojs.com/html5-video-support/", :target => "_blank"} supports HTML5 video

    = Haml::Engine.new(File.read('./partials/footer.haml')).render
