.menu
  .logo
    %a{:href => ""}
      %img{:alt => "", :src => "images/logo.png"}/
  %nav.main-nav
    %ul.dropdown
      %li
        %a{:href => "#"} Работы
      %li
        %a{:href => "#"} Агентство
      %li.multi
        %a{:href => "#"} Услуги
        %ul
          %li
            %a{:href => "#"} Корпоративные сайт
          %li
            %a{:href => "#"} Интернет магазины
          %li
            %a{:href => "#"} SEO продвижение
      %li
        %a{:href => "#"} Клиенты
      %li
        %a{:href => "#"} Контакты
  .contacts
    .number +7 (495) 211-37-45
    %hr
      .place
        .city г. Москва
        %p.adress
          Щелковское шоссе д.100
          офис 206
      .social-acc
        %a.soc.soc-1{:href => "#/"}
          %img{:src => "images/soc-fb.png"}/
        %a.soc.soc-2{:href => "#/"}
          %img{:src => "images/soc-vk.png"}/
        %a.soc.soc-3{:href => "#/"}
          %img{:src => "images/soc-inst.png"}/