!!! 5
%html
  %head
    = Haml::Engine.new(File.read('./head.haml')).render
  %body
  %body
    #content.seo
      %section.site-page.window
        .vcenter
          .base-h1 Интернет-маркетинг
          %p.caption
            Разработка сайта – не простая задача, но мы постарались облегчить процесс и сделать его для наших клиентов наиболее понятным и открытым.
          .watch-works
            %a.base-button
              Начать сотрудничество

      %section.how-it
        .base-h2 Как это происходит?
        .container.spider
          .row.icon-inner
            .col-xs-4
              .inner-radius
                %img(src="images/how-1.jpg")
              %p Заполняем бриф
            .col-xs-4
              .inner-radius
                %img(src="images/how-2.jpg")
              %p Проектируем интерфейс и юзабилити
            .col-xs-4
              .inner-radius
                %img(src="images/how-3.jpg")
              %p Тестируем сайт под различными браузерами и ОС
          .row.icon-inner
            .col-xs-4
              .inner-radius
                %img(src="images/how-4.jpg")
              %p Повышение лояльности на сторонних ресурсах
            .col-xs-4
              .inner-radius
                %img(src="images/how-5.jpg")
              %p.bold Ваш сайт
            .col-xs-4
              .inner-radius
                %img(src="images/how-6.jpg")
              %p Размещение баннеров
          .base-h3.increase Увеличение прибыли и продаж при минимальных затратах
      %section.context
        .base-h1 Контекстная реклама
        .container
          .row
            .col-xs-6.col-sm-6.col-md-6.col-lg-6.screen
              %img(src="images/yand-2.png")

            .col-xs-5.col-sm-5.col-md-5.col-lg-5.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.result
              .base-h3  Результат:
              .base-p-gray
                С первого дня начала показов количество переходов на сайт возрастает в разы (с учетом спроса на Ваш продукт)
              .base-h3  Сроки:
              .base-p-gray
                Возможно размещение на любой срок. Отчет по ведению рекламной кампании предоставляется ежемесячно.
              .base-h3  Стоимость:
              .base-p-gray
                .base-red.base-p-med.price
                  от
                  %span
                    20 000
                  руб/мес
              .base-button.get-service
                %a Заказать услугу
      %section.process
        %h1.base-h1
          Процесс
        .container
          .row
            .col-xs-3.col-sm-3.col-md-3.col-lg-3
              .inner-radius
                %img(src="images/proc-1.png")
              %p.base-p
                Настройка показов рекламы
            .col-xs-3.col-sm-3.col-md-3.col-lg-3
              .inner-radius
                %img(src="images/proc-2.png")
              %p.base-p
                Согласование бюджетов
            .col-xs-3.col-sm-3.col-md-3.col-lg-3
              .inner-radius
                %img(src="images/proc-3.png")
              %p.base-p
                Ежедневный  контроль и аналитика
            .col-xs-3.col-sm-3.col-md-3.col-lg-3
              .inner-radius
                %img(src="images/proc-4.png")
              %p.base-p
                Отчетность
          .row.advants
            .col-xs-6.col-sm-6.col-md-6.col-lg-6.col.plus
              .base-h3 Плюсы
              %ul
                %li
                  %span
                  Только целевая аудитория
                %li
                  %span
                  Быстрый результат
                %li
                  %span
                  Подъем для "молодого" сайта
                %li
                  %span
                  Гарантированный приток новых клиентов
            .col-xs-6.col-sm-6.col-md-6.col-lg-6.col.minus
              .base-h3 Минусы
              %ul
                %li
                  %span
                  Сравнительно высокая стоимость
                %li
                  %span
                  Требует постоянного контроля
                %li
                  %span
                  Снижение бюджета достигается при глубокой аналитике
      %section.context
        .base-h1 Увеличение посетителей сайта
        .container
          .row
            .col-xs-6.col-sm-6.col-md-6.col-lg-6.screen
              %img(src="images/posetiteli.png")

            .col-xs-5.col-sm-5.col-md-5.col-lg-5.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.result
              .base-h3  Результат:
              .base-p-gray
                С первого дня начала показов количество
                переходов на сайт возрастает в разы
                (с учетом спроса на Ваш продукт)
              .base-h3  Сроки:
              .base-p-gray
                Возможно размещение на любой срок.
                Отчет по ведению рекламной кампании
                предоставляется ежемесячно.
              .base-h3  Стоимость:
              .base-p-gray
                .base-red.base-p-med.price
                  от
                  %span
                    20 000
                  руб/мес
              .base-button.get-service
                %a Заказать услугу
      %section.process.work-process
        %h1.base-h1
          Как это работает?
        .container
          .row
            .col-xs-4.col-sm-4.col-md-4.col-lg-4
              .inner-radius
                %img(src="images/work1.png")
              %p.base-p
                Настройка показов рекламы
            .col-xs-4.col-sm-4.col-md-4.col-lg-4
              .inner-radius
                %img(src="images/work2.png")
              %p.base-p
                Согласование бюджетов
            .col-xs-4.col-sm-4.col-md-4.col-lg-4
              .inner-radius
                %img(src="images/work3.png")
              %p.base-p
                Ежедневный  контроль и аналитика

          .row.advants
            .col-xs-6.col-sm-6.col-md-6.col-lg-6.col.plus
              .base-h3 Плюсы
              %ul
                %li
                  %span
                  Все посетители целевые
                %li
                  %span
                  У вас полный доступ к статистике переходов
                %li
                  %span
                  Стоимость ниже, чем оплата контекстной рекламы
            .col-xs-6.col-sm-6.col-md-6.col-lg-6.col.minus
              .base-h3 Минусы
              %ul
                %li
                  %span
                  Количество пользователей нарастает постепенно
                %li
                  %span
                  Требует постоянной работы на сайте
                %li
                  %span
                  Снижение бюджета достигается при глубокой аналитике
      %section.context
        .base-h1 Продвижения сайта по позициям
        .container
          .row
            .col-xs-6.col-sm-6.col-md-6.col-lg-6.screen
              %img(src="images/ya2.png")

            .col-xs-5.col-sm-5.col-md-5.col-lg-5.col-xs-offset-1.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.result
              .base-h3  Результат:
              .base-p-gray
                Объем продаж с сайта увеличивается
                планомерно с ростом позиций в поисковых
                системах.
              .base-h3  Сроки:
              .base-p-gray
                Проявление первых результатов
                можно ожидать с 3-4 месяца
              .base-h3  Стоимость:
              .base-p-gray
                .base-red.base-p-med.price
                  от
                  %span
                  от 25 000 руб/мес

              .base-button.get-service
                %a Заказать услугу
      = Haml::Engine.new(File.read('./feed.haml')).render

    .sidebar-right
      = Haml::Engine.new(File.read('./menu.haml')).render