!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Your Website
  %body
    %header
      %nav
        %ul
          %li Your menu
    %section
      %article
        %header
          %h2 Article title
          %p
            Posted on
            %time{:datetime => "2009-09-04T16:31:24+02:00"} September 4th 2009
            by
            %a{:href => "#"} Writer
            \-
            %a{:href => "#comments"} 6 comments
        %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      %article
        %header
          %h2 Article title
          %p
            Posted on
            %time{:datetime => "2009-09-04T16:31:24+02:00"} September 4th 2009
            by
            %a{:href => "#"} Writer
            \-
            %a{:href => "#comments"} 6 comments
        %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    %aside
      %h2 About section
      %p Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    %footer
      %p Copyright 2009 Your name