<header id='header'>
  <nav class='navbar navbar-fixed-top'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-2'>
          <div class='logo'>
            <a href='/index.html'>
              <img src='images/logo.png'>
            </a>
          </div>
        </div>
        <div class='col-md-7'>
          <div class='player' id='music_player'>
            <div class='inner clearfix'>
              <div class='logo-artist'>
                <img src='images/logo-artist.png'>
              </div>
              <div class='now-playing'>
                <p class='now-playing-label'>Сейчас играет</p>
                <a class='play-btn' href='#'></a>
                <span class='name-artist'>Linkin Park - Bleed it out</span>
                <div class='volume'>
                  <a class='trigger-volume' href='#'></a>
                  <div class='line-track'></div>
                  <span class='percent-volume'>80%</span>
                </div>
              </div>
              <div class='choose-station'>
                <a class='choose-st-btn' href='#'>Выбрать станцию</a>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-3'>
          <div class='share-box'>
            <div class='row-social'>
              <a class='vk-share' href='#'></a>
              <a class='fb-share' href='#'></a>
              <a class='tw-share' href='#'></a>
              <a class='youtube-share' href='#'></a>
              <a class='inst-share' href='#'></a>
              <a class='get-app-andr' href='#'></a>
              <a class='get-app-ios' href='#'></a>
              <a class='get-app-windows' href='#'></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<div id='nav-menu'>
  <div class='container'>
    <ul>
      <li class='alpha'>
        <a href='#'>Новости</a>
      </li>
      <li>
        <a href='#'>Музыка</a>
      </li>
      <li>
        <a href='#'>Программы</a>
      </li>
      <li>
        <a href='#'>Викторины и конкурсы</a>
      </li>
      <li>
        <a href='#'>О радио</a>
      </li>
      <li>
        <a href='#'>Слушать радио</a>
      </li>
    </ul>
  </div>
</div>
