!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="">
/[if IE 8] <html class="no-js lt-ie9" lang="">
/[if gt IE 8] ><!
%html.no-js{:lang => ""}
  / <![endif]
  %head
    /
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=1200", :name => "viewport"}/
    %title Evrica-pay
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    /
      Mobile Specific Metas
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /
      FONT
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:500,300,100&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    /
      CSS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    %link{:href => "css/normalize.css", :rel => "stylesheet"}/
    %link{:href => "css/skeleton.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %script{:src => "js/modernizr-2.8.3-respond-1.4.2.min.js"}
    %script{:src => "js/jquery-1.11.2.min.js"}
    %script{:src => "js/js.js"}
    /
      Favicon
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    %link{:href => "images/favicon.png", :rel => "icon", :type => "image/png"}/